.asa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #006400, #ffd700, #8b0000);
}

.asa-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.asa-header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.asa-header-text {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.asa-language-select {
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}
